[Unit]
Description=Run reverse travel cache prewarm every night

[Timer]
OnCalendar=*-*-* 02:10:00
RandomizedDelaySec=30min
Persistent=true
Unit=reverse-traval-prewarm.service

[Install]
WantedBy=timers.target
